<article class="view-template home" hm-swipe-left="nextPage();" hm-swipe-right="prevPage();">
    <div class="home-info-wrapper">
        <img ng-src="assets/images/btwlabs-logomark_blue-accent_transbg_800x800.png" class="logo home-info-logo" />
        <div class="home-info-tagline">
            Tagline Proin leo magna, confgue a quam quis; tempor consequat leo.
        </div>
    </div>
    <br/>
    VIEW:::!!
    <div d-view="test" display="block_1"></div>
    <br/>
    WEBFORM:::!!
    <d-webform wnid="1"></d-webform>
    FILE:::!!
    <img d-file-src="1" />
    NODE:::!!
    <d-node dnid="1" dnode="dnode">
        nid={{dnode.nid}}
        <br/>
        title={{dnode.title}}
    </d-node>
    NODE-list:::!!
    <d-node-list types="webform"></d-node-list>
</article>
