<article class="view-template home" hm-swipe-left="nextPage();" hm-swipe-right="prevPage();">
    <div class="file-select-wrapper">
        <form name="fileUpload">
            <div class="file-select-field-wrapper">
                <div class="form-field-label-wrapper">
                    <label for="file-select" class="field-label">Select or take a photo</label>
                </div>
                <div id="file-select" class="file-select" name="file" required
                     ngf-select
                     ng-model="file"
                     ngf-pattern="'image/*'"
                     ngf-accept="'image/*'"
                     ngf-max-size="5MB"
                     ngf-min-height="400"
                     ngf-resize="{width: 200, height: 200}"
                     ngf-capture="camera">
                    Click Here to Select a File
                </div>
                <span ng-show="file-upload.file.$error.required">*required</span>
                <img ngf-thumbnail="file" />

                <div class="step-button-wrapper step-button-file-select-wrapper">
                    <input type="button" name="submit" value="Next Step..." ng-click="next()" ng-disabled="fileUpload.$invalid"/>
                </div>
            </div>
        </form>
    </div>
</article>
