<article class="view-template share" hm-swipe-left="nextPage();" hm-swipe-right="prevPage();">
    <img id="user-image" ng-src="{{processedImageUrl}}" />
    <div class="step-button-wrapper step-button-start-over-wrapper">
        <a ng-href="" class="step-button step-button-start-over" ng-click="startOver()">Start Over</a>
    </div>
    <div class="step-button-wrapper step-button-hare-facebook-wrapper">
        <a ng-href="" class="step-button step-button-share-facebook" ng-click="shareFB()">Facebook</a>
    </div>
    <div class="step-button-wrapper step-button-hare-twitter-wrapper">
        <a ng-href="" class="step-button step-button-share-twitter" ng-click="shareTwitter()">Twitter</a>
    </div>
    <div class="step-button-wrapper step-button-hare-linkedin-wrapper">
        <a ng-href="" class="step-button step-button-share-linkedin" ng-click="shareLinkedIn()">LinkedIn</a>
    </div>

</article>
